.env
.aider*
test.html
plans-old.json
public-keys.py
.bandit.yaml
.bandit.json
.codecov.yml
.coveragerc
.flake8
.mypy.ini
.ruff_cache
.vscode
.safety-policy.yaml
doc.tex
doc.pdf
mypy.ini
plans-sem3.json
plans.json
test.html

/.venv
/lesson_plans
/group_lessons
plans.json
plans-full.json
unmerged_downloaded_file.xlsx
logs/backend.log
fix_zero_columns.py
downloaded_file.xlsx
