.env
.aider*
test.html
plans-old.json
public-keys.py
.bandit.yaml
.bandit.json
.codecov.yml
.coveragerc
.flake8
.mypy.ini
.ruff_cache
.vscode
.safety-policy.yaml
doc.tex
doc.pdf
mypy.ini
plans-sem3.json
plans.json
test.html

